/* || general */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* || navbar */

.navbar {
    background-color: #19A7CE;
    padding: 20px;
}

.navbar #user {
    position: absolute;
    right: 0px;
    margin-right: 20px;
    margin-top: 0px;
    font-size: 20px;
}

.navbar #user #userlink {
    text-decoration: none;
    color: white;
    border-right: solid 2px;
    padding-right: 20px;
    padding-top: 15px;
    border-color: white;
    padding-bottom: 15px;
}

.navbar #logo{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 40px;
}

.navbar button {
    border-radius: 8px;
    border: none;
    background-color: #19A7CE;
    height: 40px;
    color: white;
    font-size: 20px;
}

.navbar button:hover {
    transition-duration: 0.4s;
    background-color: #146C94;
}

.navbar #io {
    color: black;
}

/* || sidenav */

.sidenav {
    width: 18vw;
    padding-left: 10px;
    margin-bottom: 100%;
    margin-right: 5px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-bottom-right-radius: 10px;
    background-color: #F6F1F1;
}

.sidenav h3 {
    border-bottom: solid 1px;
    padding-bottom: 5px;
    margin-right: 40px;
}

.subshort {
    font-size: 18px;
    padding-bottom: 10px;
}

.subshort a {
    text-decoration: none;
    color: black;
}

.subshort:hover {
    transition-duration: 0.3s;
    font-weight: bold;
    padding-left: 5px;
    cursor: pointer;
}

.sidenav button {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #19A7CE;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;
    color: white;
    font-size: 18px;
}

.sidenav button:hover {
    transition-duration: 0.4s;
    background-color: #168aaa;
    padding-right: 15px;
}

.sidenav .login {
    padding-bottom: 10px;
}

.sidenav .login a {
    color: black;
}

.sidenav .login a:hover {
    color: black;
    background-color: #98e9ff;
}

/* || home page */

.home {
    display: flex;
}

.latestsposts {
    width: 82vw;
    margin-left: 10px;
    margin-top: 10px
}

.latestsposts .postshort {
    background-color: #F6F1F1;
    margin-bottom: 5px;
    margin-top: 5px;
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 0;
    width: 95%;
}

.latestsposts .postshort:hover {
    cursor: pointer;
}

.latestsposts .postshort #subname {
    margin: 0;
}

.latestsposts .postshort #headers {
    font-size: 20px;
    font-weight: bold;
}

.latestsposts .postshort #headers #subname {
    margin-left: 20px;
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
    color: gray;
}

.latestsposts .postshort #headers #subname:hover {
    text-decoration: underline;
}

.latestsposts .all {
    text-align: center;
}

.latestsposts .all a {
    color: black;
    padding: 2px;
}

.latestsposts .all a:hover {
    background-color: #98e9ff;
}

/* || browse all page*/

.subforums {
    display: flex;
}

.subforum {
    border: 2px solid;
    border-radius: 10px;
    width: 50%;
    background-color: #F6F1F1;
    margin: 5px;
    padding-left: 20px;
    padding-top: 10px;
}

.subforum #sublink {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.subforum p {
    font-size: 14px;
}

/* || subforum page */

.subforumpage {
    display: flex;
    margin-left: 5px;
}

.subforumpage .info {
    border-left: solid 2px;
    border-bottom: solid 2px;
    border-bottom-left-radius: 10px;
    
    padding: 10px;
    width: 30%;
}

.subforumpage .info h2 {
    border-bottom: 2px solid;
    padding-bottom: 10px;
    max-width:fit-content
}

.subforumpage .posts {
    width: 70%;
}

.subforumpage .post {
    background-color: #F6F1F1;
    padding: 10px 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px;
}

/* || post page */

.postpage {
    margin: 5px;
}

.postpage .post {
    background-color: #F6F1F1;
    padding: 10px;
    padding-top: 1px;
}

.commentform {
    display: flex;
}

.commentform textarea {
    width: 75%;
    overflow: visible;
}

.commentform button {
    height: 40px;
    margin-left: 0;
    margin-top: auto;
    padding: 10px;
    background-color:#F6F1F1;
    border: 1px solid;
    border-radius: 5px;
}

.commentform button:hover {
    transition-duration: 0.4s;
    background-color: bisque;
}

/* || user page */

.userpage {
    margin-left: 10px;
}

.userpage td {
    padding: 5px;
    padding-left: 0;
}

/* || login page */

.loginpage {
    text-align: center;
}

.loginpage table {
    margin: auto;
}

.loginpage input:focus {
    transition-duration: 0.2s;
    background-color: antiquewhite;
}

.loginpage button {
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px;
}

.loginpage button:hover {
    transition-duration: 0.4s;
    background-color:antiquewhite;
}

.loginpage a {
    text-decoration: none;
}

.loginpage a:hover {
    background-color: antiquewhite;
}